<div class="container">
    <nav class="navbar navbar-expand-md no-gutters">
        <div class="col-2 text-left">
            <p><a href="https://www.antoinebernard.com"><img
                        src="https://www.antoinebernard.com/content/images/size/w1000/2020/07/Logo-blog-2.png"
                        height="30" alt="image"></a></p>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4"
            aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center col-md-8" id="navbarNav4">
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item"><a class="nav-link" contenteditable="false" routerLink="/"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home
                    </a></li>
                <li class="nav-item"><a class="nav-link" contenteditable="false" routerLink="/todo"
                        routerLinkActive="active">My todo</a>
                </li>
                <li class="nav-item"><a class="nav-link" contenteditable="false" routerLink="/about"
                        routerLinkActive="active">About</a>
                </li>
            </ul>
        </div>

        <ul class="navbar-nav col-2 justify-content-end d-none d-md-flex">

            <li class="nav-item"><a class="nav-link" contenteditable="false" href="https://www.twitter.com/chinouchi">
                    <i class="fab fa-twitter"></i></a></li>
            <li class="nav-item"><a class="nav-link" contenteditable="false" href="https://www.github.com/chinouchi">
                    <i class="fab fa-github"></i></a></li>
        </ul>
    </nav>
</div>