<div class="container">
    <div class="row align-items-center text-center">
        <div class="col-12 col-lg-4 text-lg-left">
            <p>© 2020 Antoine BERNARD</p>
        </div>

        <div class="col-12 col-lg-4 mt-4 mt-lg-0">
            <p><img alt="image" src="https://www.antoinebernard.com/content/images/size/w1000/2020/07/Logo-blog-2.png"
                    height="40"></p>
        </div>

        <div class="col-12 col-lg-4 text-lg-right mt-4 mt-lg-0">
            <ul class="nav justify-content-lg-end justify-content-center">
                <li class="nav-item"><a class="nav-link" href="https://www.twitter.com/chinouchi">Follow me on
                        twitter</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://www.github.com/chinouchi">My github</a>
                </li>
                <li class="nav-item"><a class="nav-link" routerLink="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</div>